@media screen and (max-width: 800px) { }

@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&family=Whisper&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

header {
    height: 640vh;
    width: 100%;
    background-image: url(https://i.pinimg.com/originals/86/5b/84/865b84d5623088c7b19fa57b07ffbe75.jpg);
    background-size: cover;
}

.text {
    text-align: center;
    width: 80%;
    margin-left: 9%;
}

h1, p {
    color:white;
    font-family: 'Hedvig Letters Serif', cursive;
    font-size: 20px;
}
h1 {
    line-height: 2em;
}
.navbar {
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: rgb(89, 103, 160);
}

.logo img {
    width: 100px;
    margin-top:10px ;
}

.links ul {
    margin: 20px;
    display: flex;
}

.links ul li {
    margin: 0 25px;
}

li a {
    color:white;
    text-decoration: none;
    background-color: rgb(26, 26, 81);
    padding: 10px;
    display: inline-block;
    transition: all 0.5s;
    border-radius: 10px;
}

li a:hover {
    background-color: rgb(0, 128, 255);
    padding:20px;
}

.titre{
    font-size: 50px;
}
